.img {
    position: relative;

    height: 100%;
    aspect-ratio: auto;
    float: left;


}

.imgContainer {
    position: relative;
    height: 100%;
    aspect-ratio: auto;
    float: left;
    width: 60%;
}

.like {
    position: absolute;
    bottom: 2%;
    right: 2%;

}

.MainPost {
    position: relative;
    border: 3px solid black;
    border-radius: 10px;
    height: 10%;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;

}